
.ImgContainer {
    height: 100px;
    width: 77px;
    padding: 5px;
    box-shadow: 0 0 10px 1px #e1e1e1;
    border-radius: 0.25rem;
    margin: 10px 5px;
    position: relative;
}

.ImgContainer:hover {
    box-shadow: 0 0 12px 2px #dcdcdc
}

.Image {
    width: 100%;
    margin-left: auto;
}

.CloseButton {
    position: absolute;
    background: red;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 24px;
    height: 24px;
    top: -10px;
    right: -10px;
    border-radius: 1rem;
}